<nav class="navigation-bar bg-light" [hidden]="!isAuth">
    <div class="nav-burger text-secondary" (click)="onBurgerClick()">
        Navigation
    </div>
    <div class="nav-dropdown" [ngClass]="{'nav-active': isNavDisplayed }">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngFor="let item of navigation">
                    <a class="nav-link" routerLink="{{item.path}}" routersinkActive="active"
                        ariaCurrentWhenActive="page" (click)="handleNavItemClick($event)"
                        href="#{{ item.componentId }}">{{ item.label }} </a>
                </li>
            </ul>
        </div>
        <div class="nav-logout">
            <div class="nav-item">
                <button (click)="onLogoutClick()" class="btn btn-outline-danger" type="button">Logout</button>
            </div>
        </div>
    </div>
</nav>