<!-- <nav class="navigation-bar bg-light">
  <div class="nav-burger text-secondary" (click)="onBurgerClick()">
    Navigation
  </div>
  <div class="nav-dropdown" [ngClass]="{'nav-active': isNavDisplayed }">
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navigation">
          <a class="nav-link" routerLink="{{item.path}}" routersinkActive="active" ariaCurrentWhenActive="page"
            (click)="handleNavItemClick($event)" href="#{{ item.componentId }}">{{ item.label }} </a>
        </li>
      </ul>
    </div>
    <div class="nav-logout">
      <div class="nav-item">
        <button (click)="onLogoutClick()" class="btn btn-outline-danger" type="button">Logout</button>
      </div>
    </div>
  </div>
</nav> -->

<mat-toolbar color="primary" [hidden]="!isAuth">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My History</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="/my-settings">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    (click)="onLogoutClick()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>