@import '../../../../app.component.scss';

.navigation-bar {
    font-family:'Gill Sans';
    display: flex;
    justify-content: center;
    flex-direction: column;

    .nav-burger {
        font-size: 2rem;
        padding: 1rem;
    }

    .nav-dropdown {
        z-index: 1;
        position:absolute;
        top: 52px;
        width: 0px;  
        background-color: rgba($color: $color-dark, $alpha: 0.95);
        font-size: 1.5rem;
        color: white;
        text-align: center;
        height: 0;
        overflow: hidden;

        &.nav-active {
            height: 1000%;
            width: 100%;
        }
        .nav-logout {
            padding: 1rem;
        }
    }
}

@media screen and (min-width: $sm-screen-size) { 
    .navigation-bar {
        .nav-dropdown {
            width: 0px;
            &.nav-active {
                width: 250px;
            }
        }
    }
 }
 .example-spacer {
    flex: 1 1 auto;
  }