@import '../../../../app.component.scss';

.app-form-component {
  border-radius: 10px;
  margin: auto;

  .app-cross-close {
    color: $color-disabled;
  } 

  .app-btn {
    max-width: 20rem;
    margin: auto;
    text-align: center;
    min-width: 100%;
  }
}

