<div class="container shadow bg-light my-5 pb-5 app-form-component">
  <div class="d-flex justify-content-end">
    <button mat-icon-button (click)="onCloseForm()" class="app-cross-close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form class="row bg-primary bg-opacity-50 p-2 m-3 rounded" [formGroup]="taskForm" (ngSubmit)="onTaskFormSubmit()">
    <div class="col-lg-9">
      <label for="taskInput" class="text-light">New task</label>
      <input id="taskInput" formControlName="taskInput" placeholder="ex: refactor test e2e"
        class="form-control form-control-lg" />
      <div id="commitHelp" class="form-text text-light mb-1">
        You can add an other Task for today after validation of this one !
      </div>
    </div>
    <div class="col-lg-3 m-auto p-2">
      <button mat-raised-button color="primary" class="app-btn">
        Add task
      </button>
    </div>
  </form>
  <form *ngIf="hasTask" class="row bg-success bg-opacity-50 p-2 m-3 rounded" [formGroup]="commitForm"
    (ngSubmit)="onCommitFormSubmit()">
    <div class="col-lg-9">
      <label for="commitHashInput" class="text-light">Commit displayed identifier</label>
      <input id="commitHashInput" formControlName="commitHashInput" placeholder="ex: commit hash or any custom id"
        class="form-control form-control-lg mb-3" />
      <label for="commitUrlInput" class="text-light">Commit url</label>
      <input id="commitUrlInput" formControlName="commitUrlInput"
        placeholder="ex: https://github.com/..../commit/f0ed5f46e...." class="form-control form-control-lg" />
      <div id="commitHelp" class="form-text text-light mb-1">
        You can add an other Commit for today after validation of this one !
      </div>
      <div *ngIf="!isValidCommit" class="alert alert-danger mt-2">
        Failed to add commit ! For a valid commit all inputs need to be filled
        up, try again !
      </div>
    </div>
    <div class="col-lg-3 m-auto p-2">
      <button mat-raised-button color="accent" type="submit" class="app-btn">
        Add commit
      </button>
    </div>
  </form>
</div>