@import '../../../../app.component.scss';

.app-daily-task-component {
  width: 75%;
  img {
    border-radius: 25%;
    width: 3rem;
    align-self: center;
  }
  .app-git-logo {
    width: 32px;
  }
  .app-task-head-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .app-task-head-item-right {
    text-align: center;
  }
}


@media screen and (min-width: $md-screen-size) {
  .app-daily-task-component {
    .app-task-head-item-left {
      text-align: left;
      justify-content: left;
    }
    .app-task-head-item-right {
      text-align: right;
    }
  }
}