<div class="app-action-buttons-component container d-flex justify-content-center flex-wrap my-5">
  <button *ngIf="!isFormDisplayed" (click)="onOpenFormClick()"
    [ngClass]="{ btn: true, 'btn-warning': true, 'btn-lg': true }" class="app-action-button m-auto app-open-form mb-2"
    [disabled]="disabledSate">
    <span *ngIf="!disabledSate; else disabledLabel">{{
      buttonTextOpenForm
      }}</span>
    <ng-template #disabledLabel> <span>Read Only</span></ng-template>
  </button>
  <button *ngIf="!isFormDisplayed" (click)="onSyncGithubClick()"
    [ngClass]="{ 'btn': true, 'btn-warning': true, 'btn-lg': true }" class="app-action-button m-auto app-open-form mb-2"
    [disabled]="disabledSate">
    <span *ngIf="!disabledSate; else disabledLabel">{{
      buttonTextSyncGithub
      }}</span>
    <ng-template #disabledLabel> <span>Read Only</span></ng-template>
  </button>
</div>