<div *ngIf="!isFormDisplayed"
  class="app-action-buttons-component container d-flex justify-content-center flex-wrap my-5">
  <button mat-raised-button color="primary" *ngIf="!disabledSate; else noEdition" (click)="onOpenFormClick()"
    class="app-action-button m-auto app-open-form mb-2">
    <span>Update manually</span>
  </button>
  <button *ngIf="isGitSyncButtonDisplayed" mat-raised-button color="primary" (click)="onSyncGithubClick()"
    class="app-action-button m-auto app-open-form mb-2">
    <span>Sync with git</span>
  </button>
</div>

<ng-template #noEdition>
  <p class="alert alert-warning">You cannot edit your partner task list, click on your own avatar to create your
    personal tasks !</p>
</ng-template>