<form
  #loginForm="ngForm"
  (ngSubmit)="onSubmitLogin(loginForm.value)"
  class="app-login d-flex flex-column justify-content-center container-sm"
>
  <div class="mb-3 app-input">
    <label for="app-email" class="form-label text-primary">Email address</label>
    <input
      type="email"
      name="email"
      id="app-email"
      class="form-control"
      [ngModel]="email"
    />
  </div>
  <div class="mb-3 app-input">
    <label for="app-password" class="form-label text-primary">Password</label>
    <input
      type="password"
      name="password"
      id="app-password"
      class="form-control"
      [ngModel]="password"
    />
  </div>
  <div class="d-flex justify-content-center">
    <div class="nav-item">
      <button type="submit" class="btn btn-outline-success">Login</button>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="nav-item">
      <a
        class="nav-link text-primary fw-semibold"
        href="#app-sign-up"
        (click)="onShowSignUpClick()"
      >
        Pas encore de compte
      </a>
    </div>
  </div>
</form>
<div [hidden]="!isLoginFailed" class="alert alert-danger text-center m-5">
  {{ errorMessage }}
</div>
